.target
target/
/target/
*/target/*
/target/**
.classpath
.project
.settings/
.metadata
bin/
tmp/
*.tmp
*.bak
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.tern-project
.texlipse
.recommenders/